* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: 50px;
  border-radius: 50%;
}

i {
  cursor: pointer;
}
/* --------------------------------------------------------- */

.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #009688 0%, #009688 20%, #DDDBD1 20%, #DDDBD1 100%);
  display: flex;
}

.container {
  width: 80%;
  height: 90%;
  margin: auto;
}

.left {
  width: 40%;
  height: 100%;
  float: left;
}

.right {
  width: 60%;
  height: 100%;
  float: right;
}

.user {
  width: 100%;
  height: 10%;
  background-color: #EAEAEA;
  border-right: 1px solid #B1B1B1;
  padding: 10px;
  display: flex;
}
.user-info {
  width: 50%;
  display: flex;
  align-items: center;
}
.user-icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-icons i {
  margin-left: 10px;
  color: #B1B1B1;
}

.notifications {
  width: 100%;
  height: 10%;
  background-color: #8EDAFC;
}

.search {
  width: 100%;
  height: 10%;
  background-color: white;
}

.contacts {
  width: 100%;
  height: 70%;
  background-color: lightgrey;
}

.current-contact {
  width: 100%;
  height: 10%;
  background-color: #EAEAEA;
}

.messages {
  width: 100%;
  height: 80%;
  background-color: lightyellow;
}

.write-message {
  width: 100%;
  height: 10%;
  background-color: white;
}
