* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: 50px;
  border-radius: 50%;
}

i {
  cursor: pointer;
}

ul {
  list-style: none;
}
/* -------------------------------------------------------- */

.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #009688 0%, #009688 20%, #DDDBD1 20%, #DDDBD1 100%);
  display: flex;
}

.container {
  width: 80%;
  height: 90%;
  margin: auto;
}

.left {
  width: 40%;
  height: 100%;
  float: left;
}

.right {
  width: 60%;
  height: 100%;
  float: right;
}

.user {
  width: 100%;
  height: 10%;
  background-color: #EAEAEA;
  border-right: 1px solid #B1B1B1;
  padding: 10px;
  display: flex;
}
.user-info {
  width: 50%;
  display: flex;
  align-items: center;
}
.user-icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-icons i {
  margin-left: 10px;
  color: #B1B1B1;
}

.notifications {
  width: 100%;
  height: 10%;
  background-color: #8EDAFC;
  padding: 10px;
  display: flex;
  align-items: center;
}
.notifications i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  color: #8EDAFC;
}
.notifications div a {
  color: grey;
}

.search {
  width: 100%;
  height: 10%;
  background-color: #EAEAEA;
  display: flex;
  position: relative;
}
.search input {
  width: 95%;
  height: 70%;
  margin: auto;
  padding-left: 10%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.search i {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #B1B1B1;
}

.contacts {
  width: 100%;
  height: 70%;
  background-color: white;
  overflow-y: scroll;
}
.contacts ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.current-contact {
  width: 100%;
  height: 10%;
  background-color: #EAEAEA;
}

.messages {
  width: 100%;
  height: 80%;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  padding: 40px;
  overflow-y: scroll;
}
.message-send {
  height: 60px;
  text-align: right;
}
.message-received {
  height: 60px;
}
.message-send span {
  line-height: 60px;
  background-color: #D5F9BA;
  padding: 20px;
  border-radius: 5px;
}
.message-received span {
  line-height: 60px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.write-message {
  width: 100%;
  height: 10%;
  background-color: #F3EEEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.write-message input {
  width: 80%;
  height: 70%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 15px;
}
.write-message i {
  width: 10%;
  text-align: center;
  color: #6B7376;
  font-size: 25px;
}
