<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolzapp</title>
  </head>
  <body>

    <div id="root">

      <div class="container clearfix">

        <div class="left">
          <div class="user">
            <div class="user-info">
              <img src="img/avatar.png" alt="avatar">
              <h4>Nome Utente</h4>
            </div>
            <div class="icons">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="notifications">
            <i class="fas fa-bell-slash"></i>
            <div>
              <h4>Ricevi notifiche di nuovi messaggi</h4>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>
          <div class="search">
            <i class="fas fa-search"></i>
            <input v-model="userInput" @keyDown="searchContact" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
          </div>
          <div class="contacts">

            <ul>
              <li v-if="contact.visible"
                v-for="(contact, index) in contacts" @click="addActiveClass(index)" :class="(activeIndex == index) ? 'activeIndex' : ''">
                <img :src="'img/avatar' + contact.avatar + '.png'" alt="avatar">
                <div>
                  <h4>{{ contact.name }}</h4>
                  <span>{{ contact.messages[contact.messages.length-1].text }}</span>
                </div>
                <time>{{ contact.messages[contact.messages.length-1].date }}</time>
              </li>
            </ul>

          </div>
        </div>

        <div class="right">
          <div class="current-contact">
            <div class="current-contact-info">
              <img :src="'img/avatar' + contacts[activeIndex].avatar + '.png'" alt="avatar">
              <div>
                <h4>{{ contacts[activeIndex].name }}</h4>
                <span> Ultimo accesso oggi alle
                  {{ contacts[activeIndex].messages[contacts[activeIndex].messages.length-1].date }}</span>
              </div>
            </div>
            <div class="icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="messages-box">
            <div class="message" v-for="message in contacts[activeIndex].messages">
              <div :class="message.status">
                <p>
                  {{ message.text }}
                  <time>{{ message.date }}</time>
                </p>
              </div>
            </div>
          </div>
          <div class="write-message">
            <i class="far fa-smile"></i>
            <input v-model ="newMessage" @keyup.enter="sendMessage" type="text" name="" value="" placeholder="Scrivi un messaggio">
            <i @click="sendMessage" class="fas fa-microphone"></i>
          </div>
        </div>

      </div>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
